<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://swaggerfunctionappapi20190409102006.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/436a8727-973f-4484-8698-668715aafbdd/resourceGroups/asasdasd/providers/Microsoft.Web/sites/SwaggerFunctionAppApi20190409102006</ResourceId>
    <UserName>$SwaggerFunctionAppApi20190409102006</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://swaggerfunctionappapi20190409102006.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>